body {
    background: lightgrey;
    margin: 0;
}

#container {
    background: #2e2e2e;
    width: 1000px;
    height: 60px;
    margin: auto;
}

#words {
    float: left;
    width: 50%;
    height: 44%;
    margin-top: 14px;
    background-color: #2e2e2e;


}

#words a:link {
    color: white;
    text-decoration: none;
}

#words a:visited {
    color: #9f9f9f;

}



#container div {

    overflow: hidden;

}

#symbols {
    float: left;
    height: 80%;
    margin-left: 245px;
    margin-top: 6px;
    background-color: #2e2e2e;


}

#div {

    text-align: center;
    width: 45%;
    height: 45%;
}

#buttons {
    float: left;
    margin: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 30px;
    font-size: 25px;
    position: relative;
    background-color: #787878;
    display: inline-block;

}

#buttons:hover {
    background-color: #db4a39;

}

#words2 a {
    margin: auto;
    width: 1000px;
    height: 60px;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 9px;
}

#words p {
    display: inline;
    color: grey;
    font-style: "Times New Roman";
    font-size: 13px;
    width: 210px;
    height: 40px;
    padding-left: 16px;

}

#maincontent {
    background: #ffffff;
    width: 1000px;
    height: 1350px;
    margin: auto;
    color: white;

}




#button {
    width: 30px;
    height: 30px;
    background-color: #2e2e2e;
    border-radius: 5px;
    text-align: center;
    margin-left: 970px;
    margin-top: -3px;
}



#words2 {
    width: 950px;
    height: 42px;
    font-size: 37px;
    box-shadow: 0 -5px 0 #e9e9e9 inset;
    padding-left: -2px;
    padding-bottom: 20px;
    box-sizing: border-box;
    margin-left: 17px;
}

#words2 div{
    display: inline;
    margin-left: -17px;
    font-size: 38px;

}







#words2 p {
    display: inline-block;
    font-size: 11px;
    text-align: center;

    /*p:hover{*/

        /*border-bottom: #0099ff;*/

    /*}*/


}




#words2 a {
    color: #2e2e2e;
    /*display:inline-block;*/
}

#words2 a:hover {
    color: #9f9f9f;
    border-bottom-color: #0099ff;

    /*border-bottom: #0099ff;*/
}



a {
    text-decoration: none;
}

#fool {

    width: 1000px;
    color: #333333;

}

#fool p {
    width: 1000px;
    color: #999999;
    margin-left: 20px;
    font-size: 12px;
}

#fool h1 {

    color: #333333;
    margin-left: 20px;
}

#form {
    float: left;
    height: 80%;
    margin-left: 745px;
    margin-top: -40px;
    background-color: white;

}
    button{
        border-radius: 5px;

    }




#picture {
    background-color: #f1f1f1;
    color: black;
    height: 470px;

}

#picture h1 {

    color: black;
    margin-left: 20px;

}

#picture p {

    margin-left: 20px;
    font-size: 14px;
    color: #666666;

}
#rectangle{
    float: left;
    width: 550px;
    height: 440px;
    margin-left: 400px;
    margin-top: -457px;
    background-color: #333333;
    color: #ffffff;
    font-size: 20px;
    padding-left: 35px;
    text-align: center;
    position: relative;

}
#rectangle h2{
    font-size: 30px;
    text-align: center;
    font-family: "Adobe Arabic";
    padding-top: 191px;
}

#read{
    text-align: center;
    width: 125px;
    height: 25px;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 20px;
    background-color: #0099ff;

}
#read p{
    text-align: center;
    font-size: 15px;
    margin-top: 3px;
    color: white;
    padding-right: 15px
}


#second{
    background-color: white;
    width: 1000px;
    height: 670px;
    color: black;
}

#second img{
    float: left;
    width: 500px;
    height: 500px;
}

#next{
    margin-left: 91px;
    text-align: center;
    height: 55px;
    width: 80px;
    background-color: #827c7c;
    color: white;
    padding-left: 5px;
    padding-top: 29px;
    margin-top: 38px;
}





#next div{
    float: left;
    width: 81px;
    height: 26px;
    background-color: #393535;
    text-align: center;
    padding-left: 0;
    padding-top: -20px;
    margin-left: 90px;
    margin-top: 68px;
    color: white;

}

#big{
    float: left;
    width: 250px;
    height: 250px;
    background-color: white;


}


#text{
    background-color: white;
    width: 260px;
    height: 190px;

}

#text h4{
    color: #0099ff;
    font-size: 14px;
    text-align: center;
    font-family: "Adobe Gurmukhi";
    font-weight: lighter;
}

#text p{
    color: #666666;
    font-size: 13px;
    text-align: center;

}


#last{

    color: black;
    font-size: 13px;
}


#solid{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    width: 960px;
    height: 130px;
    border-left: 5px solid #0099ff;
    background-color: #e0e0e0;


}

#solid div{

    float: left;

    background: #e0e0e0;
    width: 480px;
    color: #333333;
    font-family: "Times New Roman";
    font-weight: lighter;
}

#solid div h1, p{
    margin-left: 20px;
    margin-top: 25px;

}

#solid div p{
    font-size: 14px;


}


#forma{

    float: left;
    width: 290px;
    height: 109px;


}

#forma div{
    float: left;
    text-align: center;
    width: 280px;
    height: 44px;
    border-radius: 6px;
    font-size: 25px;
    color: #dfd6d6;
    margin-left: 169px;
    margin-top: 35px;
    background-color: #0099ff;
    padding-top: 15px;

}

#background{


    width: 1000px;
    height: 400px;
    background-color: #1a1a1a;
    color: #ffffff;
}

#aboutus{
    float:left;
    width: 230px;
    height: 400px;
    background-color: #1a1a1a;
}


#aboutus div p{
    font-size: 13px;
    text-align: center;
    margin-left: -2px;
    color: white;
    margin-top: 40px;
}
#aboutus p{
    font-size: 12px;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    color: #666666;

 }

.aboutUs{
    display: block;
    text-align: right;

}

#aboutus div{

    width: 207px;
    height: 100px;
    text-align: center;
    background-color: #232323;
    margin-left: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    margin-top: 10px;
    font-size: 14px;
}

#aboutus h5  {
    font-size: 14px;
    text-align: left;
    margin-left: 20px;
}



#quick{

    float:left;
    width: 230px;
    height: 400px;
    background-color: #1a1a1a;
    margin-left: 26px;
}



#quick p {
    font-size: 13px;
    text-align: left;
    margin-left: 20px;
    color: #989898;
    margin-top: 11px;

}

#quick div{

    font-size: 13px;
    text-align: left;
    margin-left: 20px;
    color: #989898;
    margin-top: 11px;
}

#quick div a{

    font-size: 13px;
    text-align: left;
    margin-left: 0;
    color: #0099ff;
    margin-top: 11px;
}


#quick h5 {
    font-size: 14px;
    text-align: left;
    margin-left: 26px;
    padding-bottom: -4px;
    margin-top: 26px;
    margin-bottom: 14px;
}

#bottom p{
    color: red;
    font-size: 12px;

}

#bottom a:link {
    color: #0099ff;
}


div#words2 p a:hover{

    border-bottom: 5px solid #0099ff;

}

div#words2 p a:{

    margin-bottom: 20px;
}

#aboutus a{
    color: #0099ff;
    margin-left: 157px;
    font-size: 12px;

}

#latest{
    float:left;
    width: 230px;
    height: 400px;
    background-color:#1a1a1a;
    margin-left: 26px;


}

#latest h5{
    font-size: 14px;
    text-align: left;
    margin-left: 26px;
    padding-bottom: -4px;
    margin-top: 26px;
    margin-bottom: 14px;

}

#latest h6{
    font-size: 12px;
    text-align: left;
    margin-left: 26px;
    padding-bottom: -4px;
    margin-top: 2px;
    margin-bottom: 14px;
    color: #666666;
    font-weight: lighter;
}
#latest p{
    font-size: 9px;
    text-align: left;
    margin-left: 25px;
    margin-top: -28px;
    color: #666666;

}

#latest a{
    color: #0099ff;
    margin-left: 157px;
    font-size: 12px;

}

#contactus{

    float:left;
    width: 230px;
    height: 400px;
    background-color: #1a1a1a;
    margin-left: 26px;

}


#contactus h5{
    font-size: 14px;
    text-align: left;
    margin-left: 26px;
    padding-bottom: -4px;
    margin-top: 26px;
    margin-bottom: 14px;

}


#contactus input{

    color: #989898;
    background-color: #232323;
    border: 0;
}

#bottom{

    height: 60px;
    background-color: #222222;
    font-size: 12px;
    text-align: left;
    color: #666666;
}


#left{
    float:left;
    font-size: 12px;
    text-align: left;
    color: #666666;
    margin-left: 27px;
    margin-top: 30px;


}


#right{
    float:left;
    font-size: 12px;
    text-align: left;
    color: #666666;
    margin-left: 522px;
    margin-top: 30px;


}








